.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.openButton{
  background-color: rgb(45, 124, 209);
  height: 50px;
  width: 150px;
  border: 1px solid rgb(45, 124, 209);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.openButton:hover{
  background-color: rgb(41, 128, 186);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 1; /* Ensure modal is on top of other content */
  overflow: auto; /* Enable scrolling if content overflows */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Center the modal vertically and horizontally */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Adjust width as needed */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content label {
  display: block;
  margin-bottom: 10px;
}

.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="tel"],
.modal-content input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-content button.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button.submit-button:hover {
  background-color: #45a049;
}

/* Show the modal when it's open */
.modal.show-modal {
  display: block;
}